<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="static/img/applogo.png" type="image/x-icon">

        <!--=============== BOXICONS ===============-->
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

        <!--=============== SWIPER CSS ===============--> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

        <title>Melodyos Data</title>
    </head>
<body>
    <h2>Data seluruh user dan rata rata</h2>
    <img src="static/uploads/fig_sum.jpg" alt="gambar tingkat ketertarikan di setiap iterasi">
    <br>
    <h2>Rata rata</h2>
    <img src="static/uploads/fig_avg.jpg" alt="gambar rata rata tingkat ketertarikan di setiap iterasi">
    <h2>Iterasi Histogram</h2>
    <p>Rata rata jumlah iterasi / epoch {{epoch_mean}}</p>
    <img src="static/uploads/fig_histogram.jpg" alt="">
    <table>
        <tbody>
            <tr>
                <td>Iterasi</td>
                <td>Data Fitness Rata Rata</td>
                <td>Growth Rate</td>
            </tr>
            {% for i in s %}
            <tr>
                <td>{{loop.index}}</td>
                <td>
                    {{i}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% for result in users_data %}
        <table>
            <tbody>
                <tr>
                    <td>Nama</td>
                    <td>{{result.0}}</td>
                </tr>
                <tr>
                    <td>Usia</td>
                    <td>{{result.5}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{result.7}}</td>
                </tr>
                <tr>
                    <td>Pengalaman</td>
                    <td>{{result.6}}</td>
                </tr>
                <tr>
                    <td>Total iterasi</td>
                    <td>{{result.3}}</td>
                </tr>
                <tr>
                    <td>Tangga nada</td>
                    <td>{{result.1}}</td>
                </tr>
                <tr>
                    <td>Nada dasar</td>
                    <td>{{result.2}}</td>
                </tr>
                <tr>
                    <td>Instrumen</td>
                    <td>{{result.4}}</td>
                </tr>
                <tr>
                    <td>Diagram</td>
                    <td>
                        <img src="static/uploads/fig_{{loop.index}}.jpg" alt="">
                    </td>
                </tr>
            </tbody>
            <br>
        </table>
    {% endfor %}
</body>
</html>